body{
  background-color: #f5f6f7;
  margin: 0px;
}
header{
  background: #0984e3;
  height: 100px;
  width: 100%;
}
#contenedor-central{
  overflow: auto;
  background-color: transparent;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0 0 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}
section{
  background-color: white;
  width: 70%;
  height: 500px;
  float: left;
  border-radius: 10px;
}
aside{
  padding: 0 15px 0 15px;
  background-color: transparent;
  width: 30%;
  height: 500px;
  float: right;
  box-sizing: border-box;
}
.contenedor-widgets{
  height: 500px;
  background: #eaecee;
  border-radius: 10px;
  width: 100%;
}
footer{
  height: 200px;
  background-color: #eaecee;
  clear: both;
  margin: 0px;
}
